body{ 
    background-image: url ('https://www.google.com/search?q=space+images&sca_esv=573451013&rlz=1C1GCEA_enIN928IN928&tbm=isch&sxsrf=AM9HkKnHKE3cA1kGbUcmZHXegUaq3X1u0w:1697289696522&source=lnms&sa=X&ved=2ahUKEwjVksTr0PWBAxVaBogKHQQBDrYQ_AUoAnoECAIQBA&biw=1280&bih=595&dpr=1.5#imgrc=tGChiWD_pHHQZM')
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}